# Python bytecode files
*.pyc
__pycache__/

# Virtual environment directories
venv/
env/

# IDE and editor specific files
.idea/
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Jupyter Notebooks checkpoint files
.ipynb_checkpoints/

# pytest cache
.cache/

# SQLite database files (if you are using SQLite)
*.sqlite3


#test
test


#node
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
